---
layout: default
---
<style>
    .image, .video {
        text-align: center;
        color: #424242;
    }

    .image img, .video iframe {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
    }
</style>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                {{ page.date | date: date_format }}
            </time>
            {% if page.author %}
            • <a href="mailto:{{ page.author.email }}?subject={{ page.title }}" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author.display_name }}</span>
            </a>
            {% endif %}</p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
</article>
